/*
/*
Theme Name: Aazeen
Theme URI: https://www.themezwp.com/aazeen/
Author: themezwp
Author URI: http://themezwp.com/
License: GNU General Public License, v3
License URI: http://www.gnu.org/licenses/gpl-3.0.html
Text Domain: aazeen

Description: Aazeen WordPress theme contains everything you need: professional design homepage, 10+ Preset homepage, 10+ Preset pages and you can import any page with single click .  This theme is compatible with a most popular plugin: SiteOrigin Page Builder.This Plugin is easy to use drag and drop page builder that will help you to create any layout you can imagine fast and easy. This theme offers wonderful features and functionalities to launch successful fundraising campaigns for individuals, companies, agencies, and different businesses. No coding skills required!

Version: 1.5.0

Tags:   grid-layout, one-column, two-columns, custom-background, custom-colors, custom-header, custom-menu, featured-image-header, featured-images, flexible-header, full-width-template, sticky-post, theme-options, threaded-comments,blog,e-commerce,food-and-drink

Aazeen  WordPress Theme, Copyright 2017 themezwp.com
Aazeen  is distributed under the terms of the GNU GPL



/*
------------------------------------
WORDPRESS CORE
------------------------------------
*/

.alignnone {
  margin: 5px 20px 20px 0;
}

.aligncenter, div.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}

.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}

a img.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

a img.alignnone {
  margin: 5px 20px 20px 0;
}

a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto
}

.wp-caption {
  max-width: 96%;
  /* Image does not overflow the content area */
  padding: 10px 3px 10px;
  text-align: center;
}

.wp-caption img {
  max-width: 98%!important;
  height: auto;
}

.wp-caption.alignnone {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
  margin: 5px 0 20px 20px;
}

.wp-caption img {
  border: 0 none !important;
  margin: 0 !important;
  max-width: 570px;
  padding: 0 !important;
}

.wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px;
}

.sticky {}

.gallery-caption {}

.bypostauthor {}

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.screen-reader-text:hover, .screen-reader-text:active, .screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}
/*
------------------------------------
GLOBAL
------------------------------------
*/


#site-wrapper.main-raised {
    margin: -60px 30px 0;
    border-radius: 6px;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, .14), 0 6px 30px 5px rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .2);
}

.no-js, .no-js .main-menu-wrap {
  display: none;
}

.media-object{
  background-color: #ffff;
  margin-bottom: 2rem;
}

.thumbnail{
  border: none;
  box-shadow: none;
}
.card{
  border: none;
}
.label{
  cursor: pointer;
  font-size: 14px;
  margin: 2px;
  transition: background-color .25s ease-out,color .25s ease-out;
  -webkit-transition: color .3s ease-in-out;
    -moz-transition: color .3s ease-in-out;
    -ms-transition: color .3s ease-in-out;
    -o-transition: color .3s ease-in-out;
    transition: color .3s ease-in-out;
}
.label.transparent{
  background: transparent;
}

.label.transparent:hover{
  background: transparent;
}

.transparent{
  background: transparent;
}
.callout.transparent{
  background: transparent;
}
.label.border{
  border: 1px solid;
}
a{
  -webkit-transition: color .3s ease-in-out;
    -moz-transition: color .3s ease-in-out;
    -ms-transition: color .3s ease-in-out;
    -o-transition: color .3s ease-in-out;
    transition: color .3s ease-in-out;
}

.object-fit-img {
    object-fit: cover;
    object-position: center;
    font-family: 'object-fit: cover; object-position: center ';
}

.box_wbb{
  padding: 0px;
}
/*
------------------------------------
HEADER CORE
------------------------------------
*/
.header-wrap{
  background-color: #ffffff;
}

.top-bar, .top-bar ul {
    background-color: transparent;
    padding: 0px;
}


.menu .menu-text{
  padding: 0;
}
.header1{
  display: inline-block;
  width: 100%;
  z-index: 5;
}
.header1.sticky.is-stuck{
  padding-top: 0px;
  padding-bottom: 0px;
  transition: all 1s ease;
}
.header1.sticky.is-stuck .logo-inner img{
  width: 80%;
  transition: all 1s ease;

}
.header1 .navbar-search{
  margin-left: 10px;
}

.menu .header-social-inner a {
  display: inline-block;
  padding: 0;
}

.sticky.is-anchored{
  z-index: 5;
}
/*
------------------------------------
HEADER STYLE 2
------------------------------------
*/
.header2 .navbar-search{
  margin: 0;
    margin-right: 0px;
margin-right: 5%;
display: inline-block;
position: absolute;
right: 0;
}
.header2 .menu-outer{
  z-index: 5;
}


.header2 .banner-warp {
  text-align: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.header2 .banner-warp .logo-inner {
  padding: 10px;
}

.header2 .banner-warp .object-fit-images {
  min-height: 300px;
}
/*-------------------------
2.1  LOGO
---------------------------*/

.header2 .banner-inner .logo-wrap {
  display: block;
  margin: auto;
  max-width: 100%;
  height: auto;
}

.logo-wrap a {
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}

.header2 .banner-inner .logo-inner img {
  display: block;
  margin: auto;
  width: auto;
  padding: 10px;
}

.header2 .header-social-wrap {
  margin-top: 5px;
  text-align: center;
}

.tooltip {
  background-color: #282828;
  padding: 4px 6px 4px 6px;
  opacity: 0.9;
}

.tooltip::before {
  color: #282828;
}
.header2 .header-social-inner{
  padding-top: 15px;
}

/*
------------------------------------
HEADER STYLE 3
------------------------------------
*/
.header3{
  width: 100%;
  z-index: 5;
transition: all 1s ease-in-out;
}
.header3.sticky{
    position: fixed;
}
.header3 .menu.align-center li{
  text-align: center;
}
.header3.unsticky_menu{
    position: absolute;
}
.header3.active{
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, .12), 0 7px 10px -5px rgba(0, 0, 0, .15);
  padding-top: 0px;
  padding-bottom: 0px;
}

.header3.active{
transition: all 1s ease-in-out;
}
.header3.active .logo-inner img{
  width: 80%;
  transition: all 1s ease;
}
.header3 .navbar-search{
  margin-left: 10px;
}
/*
------------------------------------
HEADER MOBILE
------------------------------------
*/
.header-wrap .mobile-header {padding: 0px;position: relative;display: none;}
.mobile-header .title-bar{background-color: transparent}

.mobile-header .logo-wrap {
  padding: 2vh;
}

.mobile-header .title-bar {
  background-color: transparent;
}

.mobile-header .title-bar .site-description {
  margin: 0;
}

.mobile-header .navbar-search-bar-container .search-submit, .mobile-header .navbar-search-bar-container .fa-search {
  position: absolute;
  top: 40%;
}

.mobile-header .navbar-search-bar-container {
  height: 80%;
}
.off-canvas-wrapper .off-canvas-inner {
  margin-top: 40px;

}
@media screen and (max-width: 39.9375em) {
  .header-wrap{padding: 0px !important;}
  .header-wrap .mobile-header{display: block;}
}

@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  .header-wrap{padding: 0px !important;}
  .header-wrap .mobile-header{display: block;}
}

#burger{
    cursor:pointer;
    display:block;
}


  #burger span {
      background: #ff216a;
      display: block;
    width: 50px;
    height: 3px;
    margin-bottom: 6px;
    position: relative;
    top: 0;
    transition: all ease-in-out 0.4s;
  }
  #burger span:nth-child(4){
    margin-bottom: 0px;
}

.off-canvas-social-wrap{
  text-align: center;
    margin-top: 20px;
  }
/*
------------------------------------
menu CORE
------------------------------------
*/

.is-dropdown-submenu > li{
  background-color: transparent;
  -webkit-transition: background-color 600ms linear;
    -ms-transition: background-color 600ms linear;
    transition: background-color 600ms linear;
}
.dropdown .is-dropdown-submenu a{
  width: 100%;
  margin: 0 5px;
  padding: 15px;
  background-color: transparent;
}
.main-menu-wrap .dropdown.menu a{
padding: 1.2rem 1rem;
}
.is-dropdown-submenu{
  border: 0px solid transparent;
}

@media screen and (max-width: 39.9375em) {
  .header-wrap .desktop-menu{display: none;}
}

@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  .header-wrap .desktop-menu{display: none;}
}
/*
------------------------------------
navbar-search
------------------------------------
*/
.navbar-search a {
  display: block;
  width: 34px;
  height: 100%;
  text-align: center;
  font-size: 18px;
}

.navbar-search-button {
  font-size: 25px;
  cursor: pointer;
}

.navbar-search-bar-container, .navbar-search-bar-container .close-button {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.navbar-search-bar-container {
  background-color: #fff;
  border-bottom: 2px solid #ffc2ca;
  display: none;
  height: 100%;
  margin: 0 auto;
  width: 100%;
  -webkit-box-shadow: 0px -2px 1px 0px rgba(163, 163, 163, 0.44);
  -moz-box-shadow: 0px -2px 1px 0px rgba(163, 163, 163, 0.44);
  box-shadow: 0px -2px 5px 0px rgba(163, 163, 163, 0.44);
  left: 0;
}

.navbar-search-bar-container .search-field {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background-color: #fff;
  border: 0;
  box-shadow: none;
  color: #074e68;
  font-size: 1.5rem;
  height: 3rem;
  max-width: 95%;
text-align: center;
}

.navbar-search-bar-container {
  position: absolute;
  top: 48%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  transition: opacity .6s;
}

.navbar-search-bar-container .search-submit {
  position: relative;
  float: right;
  top: 16px;
  color: transparent;
  background-color: transparent;
  border: none;
  cursor: pointer;
  right: 50px;
  width: 30px;
  z-index: 10;
}

.navbar-search-bar-container .fa-search {
  position: absolute;
  float: right;
  top: 16px;
  color: rgba(119, 118, 118, 0.78);
  background-color: transparent;
  border: none;
  cursor: pointer;
  right: 50px;
  width: 30px;
  font-size: 22px;
}

.navbar-search-bar-container .search-submit.fa {
  color: #8a8a8a;
  font-size: 25px;
}

button:focus, .close-button:focus {
  border: none;
  color: transparent;
  border-color: transparent;
  background-color: transparent;
  box-shadow: none;
  outline: 0;
}

button:active {
  outline: none;
  border: none;
}

[data-whatinput='mouse'] .button {
  outline: 0;
}

[type=submit], [type=button] {
  outline: 0;
}

/*
------------------------------------
BLOG
------------------------------------
*/
.flex-container {
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
}
.blog-warp{
  margin-top: 40px;
  margin-bottom: 40px;
}

/*
------------------------------------
Post layout 1
------------------------------------
*/

.post-wrap-layout-1 .media-object-section.post-wrap{
  padding:20px;
}
.post-wrap-layout-1 .post-title{padding-top: 10px;}
.post-wrap-layout-1 .entry-category{padding-bottom: 10px;}

/*
------------------------------------
Post layout 2
------------------------------------
*/
.card.card-blog{
  margin-bottom: 2rem;
}
.card-footer {
    border-top: 1px solid rgba(0, 0, 0, .125);
    padding: .75rem 0rem 0 0rem;
    display: table;
    position: relative;
    overflow: hidden;
    width: 100%;
}

.card .card-footer .author {
    font-size: 14px;
    display: table-cell;
    vertical-align: middle;
}

.card-footer .stats {
    line-height: 30px;
    color: #616161;
    font-size: 14px;
    display: table-cell;
    vertical-align: middle;
    text-align: right;
}

.card-footer .author .avatar {
    width: 30px;
    height: 30px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 5px;
}

/*----------------------------------------------------
Page sub banner
-------------------------------------------------------- */

#sub_banner_page {
  background-color: #8a8484;
}

#sub_banner_page.callout {
  padding: 0px;
  margin: 0px;
}

#sub_banner_page .breadcrumb-wrap .breadcrumbs {
  margin: 0;
}

#sub_banner_page .top-bar, #sub_banner .top-bar-right, #sub_banner .top-bar ul {
  background-color: transparent;
}



.single-page-thumb-outer {
  position: relative;
  display: block;
  text-align: center;
}

.page-thumb{
min-height: 300px;
  text-align: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
          background-position: center center;
background-repeat: no-repeat;
}
@media screen and (min-width: 64em) {
.page-thumb{
  background-size: 100%;
}
}
.button.clear.secondary, .button.hollow.secondary {
  background: transparent;
}

.page_content {
  background-color: #fff;
  border-radius: 2px;
  padding: 40px 30px;
  margin-bottom: 80px;
}

.heade-page-nothumb {
  min-height: 300px;
  text-align: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}


.box_wbb #content-page {
  padding: 0 10px 0 10px;
}

#content-page-builder{
  display: block;
  overflow: hidden;
}
/*
------------------------------------
Blog pagination
------------------------------------
*/
.pagination {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}

.navigation .nav-links .next:after {
  content: "\f105";
  font-family: FontAwesome;
  display: table;
  clear: both;
  float: right;
  padding-left: 5px;
}

.navigation .nav-links .prev:after {
  content: "\f104";
  font-family: FontAwesome;
  display: table;
  clear: both;
  float: left;
  padding-right: 5px;
}

.navigation .nav-links .page-numbers.prev {
  float: left;
}

.navigation .nav-links .page-numbers.next {
  float: right;
}

.navigation .nav-links {
  margin: 1em auto 1em;
  text-align: center;
  width: 100%;
  max-width: none;
  display: inline-block;
  border-radius: 0.25em;
  border: 1px solid #e6e6e6;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
}

.navigation .nav-links a {
  /* hide numbers on small devices */
  display: none;
  margin: 0 .2em;
}

.navigation .nav-links a.page-numbers {
  /* make sure prev next bblog-buttons are visible */
  display: inline-block;
}

.navigation .nav-links a, .navigation .nav-links span {
  display: inline-block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* use padding and font-size to change bblog-buttons size */
  padding: .6em .8em;
  font-size: 14px;
  color: #a59e9f;
  webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.navigation .nav-links a.disabled {
  /* bblog-button disabled */
  color: rgba(46, 64, 87, 0.4);
  pointer-events: none;
}

.navigation .nav-links a.disabled::before, .navigation .nav-links a.disabled::after {
  opacity: .4;
}

.navigation .nav-links .current {
  /* selected number */
  background-color: #fbb5be;
  border-color: #64a281;
  color: #ffffff;
  pointer-events: none;
}

@media only screen and (min-width: 768px) {
  .navigation .nav-links a {
    display: inline-block;
  }
}

@media only screen and (min-width: 1170px) {
  .navigation .nav-links {
    margin: 1em auto 1em;
  }
}

#sub_banner{
  background: #9E9E9E;
}
#sub_banner .top-bar {
    max-width: 75rem;
    margin: 0 auto;
    padding: 20px;
    background: transparent;
}

#sub_banner .top-bar .breadcrumbs {
    margin: 0px;
}
/* ========== sidebar ============ */

.sidebar-inner .widget_wrap {
  border-top: 3px solid #ffc2ca;
  padding: 25px 20px;
  margin-bottom: 20px;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
  position: relative;
}
.sidebar-inner .readmore,.footer_widgets_warp .readmore{
  display: none;

}
.sidebar-inner .widget_media_image .widget_wrap {
  padding: 0px;
  border: none
}

.sidebar-inner .widget_search .widget_wrap .search-form {
  position: absolute;
  width: 90%;
}
.sidebar-inner .widget_search .widget_wrap  {
  padding-bottom: 50px;
}

.sidebar-inner .widget-title h3 {
  color: #000;
  text-transform: uppercase;
  margin-bottom: 24px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1.4px;
  text-align: center;
}

.sidebar-inner .widget-title h3:after {
  content: ' ';
  display: block;
  text-align: center;
  height: 1px;
  margin: 10px auto;
  background-color: #000;
  width: 30px;
}

.widget_wrap ul {
    list-style: none;
    font-size: 14px;
    font-weight: 600;
    margin-left: 0px;
}
.widget_wrap ul li {
    position: relative;
    display: block;
    padding: .5rem .25rem;
    margin-bottom: -1px;
}
input[type=color], input[type=date],
input[type=datetime-local],
input[type=datetime],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
input[type=week],
textarea {
    padding: 1rem 0 .5rem 0;
    margin: 0 0 .5rem;
    border-bottom: 1px solid #e0e0e0;
    border-radius: 0;
    background: 0 0;
}
[type=color],
[type=date],
[type=datetime-local],
[type=datetime],
[type=email],
[type=month],
[type=number],
[type=password],
[type=search],
[type=tel],
[type=text],
[type=time],
[type=url],
[type=week],
textarea {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 2.4375rem;
    margin: 0 0 1rem;
    padding: .5rem;
    border: 0;
    border-bottom: 1px solid #e0e0e0;
    border-radius: 2px;
    background-color: transparent;
    box-shadow: none;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: rgba(0,0,0,.87);
    transition: box-shadow .5s,border-color .25s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

[type=color]:focus,
[type=date]:focus,
[type=datetime-local]:focus,
[type=datetime]:focus,
[type=email]:focus,
[type=month]:focus,
[type=number]:focus,
[type=password]:focus,
[type=search]:focus,
[type=tel]:focus,
[type=text]:focus,
[type=time]:focus,
[type=url]:focus,
[type=week]:focus,
textarea:focus {
    outline: 0;
    border-bottom: 1px solid #9e9e9e;
    background-color: transparent;
    box-shadow:none;
    transition: box-shadow .5s, border-color .25s ease-in-out
}

.search-submit {
    position: absolute;
    right: 0;
    top: 0;
    margin: 0;
    padding: .40625rem 1.25rem;
    font-size: .6875rem;
    line-height: 1.5;
    border-radius: .2rem;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0;
    cursor: pointer;
    border: 0;
    border-radius: .2rem;
    outline: 0;
    -webkit-transition: background-color .2s cubic-bezier(0.4,0,0.2,1),-webkit-box-shadow .2s cubic-bezier(0.4,0,1,1);
    transition: background-color .2s cubic-bezier(0.4,0,0.2,1),-webkit-box-shadow .2s cubic-bezier(0.4,0,1,1);
    transition: box-shadow .2s cubic-bezier(0.4,0,1,1),background-color .2s cubic-bezier(0.4,0,0.2,1);
    transition: box-shadow .2s cubic-bezier(0.4,0,1,1),background-color .2s cubic-bezier(0.4,0,0.2,1),-webkit-box-shadow .2s cubic-bezier(0.4,0,1,1);
    will-change: box-shadow,transform;
}

.ripple {
    overflow: hidden;
    position: relative
}

.ripple-effect {
    position: absolute;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background: #fff;
    -webkit-animation: ripple-animation 2s;
    animation: ripple-animation 2s
}

@-webkit-keyframes ripple-animation {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: .4
    }
    to {
        -webkit-transform: scale(100);
        transform: scale(100);
        opacity: 0
    }
}

@keyframes ripple-animation {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: .4
    }
    to {
        -webkit-transform: scale(100);
        transform: scale(100);
        opacity: 0
    }
}
/*
------------------------------------
Post single page
------------------------------------
*/
.content-wrapper{
  margin-bottom: 3rem;
  width: 100%;

}
.content-wrapper .single-main.card{
  margin-top: -100px;
  position: relative;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}

.single-post-warp{
  overflow: hidden;
  word-wrap: break-word;
  background-clip: border-box;
}


#sub_single_page.callout {
    padding: 0px;
    margin: 0px;
}

.single-post-thumb-outer {
  text-align: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.post-thumb-single {
    max-height: 500px;
    min-height: 300px;
    width: 100%;

}

.post-thumb-single img{width: 100%;}
.post-no-image{ min-height:400px;}
.single-headwarp{position: absolute;z-index: 2;padding-bottom: 100px;}
.tranparenth3 .single-headwarp{padding-bottom: 0px;}
.post-thumb-single:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(28, 28, 28, .7);
    content: '';
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.single-post-thumb-outer .fa{
  font-size:initial;
}
.single .navigation .nav-links{
  background: transparent;
  border: none;
  box-shadow: none;
}
.single-nav .nav-previous{
  float: left;
}

.single-post .post-meta a{
  color: #fff;
}
.single-post .label{
  padding: .33333rem .3rem;
}
/*
------------------------------------
COMMENTS
------------------------------------
*/


.box-comment-content {
  padding: 10px;
  margin-bottom: 30px;
}

.box-comment-content .comments-area {
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px solid rgba(28, 28, 28, .07);
}

.comment-respond {
  display: block;
  margin-top: 30px;
  padding: 10px;
}

.block-title-wrap {
  text-align: center;
  display: block;
}

.comment-title h2 {
  margin-bottom: 20px;
  color: #55acee;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.comment-list {
  margin-top: 30px;
  margin-right: 0;
  margin-left: 0;
  list-style: none;
}

.comment-list li.comment {
  list-style: none;
}

.comment-list .comment-body {
  position: relative;
  display: block;
  overflow: hidden;
  margin-top: 35px;
}

.comment-list .comment-author img {
  display: block;
  float: left;
  margin-top: 0!important;
  margin-right: 10px;
  margin-bottom: 0;
  width: 45px!important;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.comment-author.vcard .fn, .comment-author.vcard .fn a {
  color: #282828;
  text-transform: uppercase;
  font-size: 12px;
}

.comment-author.vcard .says {
  display: none;
}

.comment-metadata {
  display: block;
  float: left;
  padding-top: 2px;
  color: #999;
  font-style: italic;
  font-size: 12px;
  line-height: 1;
}

.comment-metadata a:not(.comment-edit-link) {
  color: #999!important;
}

.comment-list .comment-content {
  position: relative;
  display: block;
  float: left;
  clear: both;
  margin-top: 15px;
  padding: 20px 15px;
  width: 100%;
  background-color: #fafafa;
  box-shadow: 0 1px 3px 0 rgba(28, 28, 28, .05);
  color: #999;
  -wekit-box-shadow: 0 1px 3px 0 rgba(28, 28, 28, .05);
}

.comment-list .comment-reply-link {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  padding: 3px 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #55acee;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 10px;
  line-height: 9px;
}

.comment-list .comment-content:before {
  position: absolute;
  top: -6px;
  left: 15px;
  z-index: 10;
  border-right: 5px solid transparent;
  border-bottom: 6px solid #f3f3f3;
  border-left: 5px solid transparent;
  content: '';
  -webkit-transition: all .15s ease-in-out;
  -moz-transition: all .15s ease-in-out;
  -ms-transition: all .15s ease-in-out;
  -o-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
}

.comment-list .comment-content p:last-child {
  margin-bottom: 0;
}

.comment-list .comment-content p {
  margin-bottom: 10px;
  color: #444;
  font-size: .9em;
  line-height: 1.6;
}

.box-comment-content .entry ol {
  margin: 0;
}

.comment-list .edit-link {
  display: inline-block;
  margin-left: 5px;
  color: #55acee
}

.comment-list .edit-link:before {
  content: '('
}

.comment-list .edit-link:after {
  content: ')'
}

#cancel-comment-reply-link {
  margin-left: 7px;
  color: #999;
  letter-spacing: 0;
  font-weight: 400;
  font-size: 12px
}

#cancel-comment-reply-link:hover {
  color: #282828;
  text-decoration: underline
}

.comment-respond {
  display: block;
  margin-top: 30px
}

.depth-2 .comment-body {
  margin-left: 20px
}

.depth-3 .comment-body {
  margin-left: 40px
}

.depth-4 .comment-body {
  margin-left: 60px
}

.depth-5 .comment-body {
  margin-left: 80px
}

h2.comment-reply-title {
  margin-bottom: 10px;
  color: #55acee;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.comment-form textarea {
  display: block;
  margin-top: 30px;
  width: 100%;
  padding: 20px;
  outline: none!important;
  box-shadow: none;
  border: 1px solid rgba(28, 28, 28, .07);
  color: #282829;
  vertical-align: middle;
  text-align: left;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.comment-form input {
  margin-top: 15px;
}

.comment-form input[type="text"], .comment-form input[type="tel"], .comment-form input[type="email"], .comment-form [type=url], .comment-form [type=password] {
  display: block;
  padding: 10px 20px;
  width: 50%;
  white-space: nowrap;
  outline: 0;
  outline: none!important;
  border: 1px solid #eee;
  box-shadow: none;
  vertical-align: middle;
  text-align: left;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  -webkit-transition: all .35s ease-in-out;
  -moz-transition: all .35s ease-in-out;
  -ms-transition: all .35s ease-in-out;
  -o-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out;
}

.comment-form .form-submit input#submit, a.box-comment-btn, .comment-form .form-submit input[type="submit"] {
  display: inline-block;
  padding: 0 20px;
  cursor: pointer;
  border: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background-color: #282828;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  font-weight: 600;
  font-size: 12px;
  line-height: 28px;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out
}

.comment-form .form-submit input#submit, a.box-comment-btn {
  opacity: .9
}

.comment-form .form-submit input#submit:hover, .comment-form .form-submit input#submit:focus, .entry input[type="submit"]:hover, .entry input[type="submit"]:focus {
  -webkit-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, .3);
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, .3);
  opacity: 1
}

/*
------------------------------------
author box
------------------------------------
*/
.box-author-warp{
  padding: 0px 20px;
}
.author-description{
  padding: 10px 0px 25px 0px;
}

@media screen and (max-width: 39.9375em){

.single-box-author .media-object.stack-for-small .media-object-section img {
    width: auto;
    margin: 0 auto;
    display: block;
}
.media-object-section{
  text-align: center;
}
}
/*=============================================>>>>>
= Core gallery =
===============================================>>>>>*/
.gallery-item {display: inline-block;position: relative;}

/*=============================================>>>>>
= Footer =
===============================================>>>>>*/

/*  ----------------------------------------------------
Top Footer section
-------------------------------------------------------- */

.top-footer-wrap {
  background-color: #fff;
  position: relative;
  z-index: 1;
}

.top-footer-wrap .widget-title h3 {
  color: #000;
  text-transform: uppercase;
  margin-bottom: 0px;
  text-align: left;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1.4px;
}

.top-footer-wrap .widget-title h3:after {
  content: ' ';
  display: block;
  text-align: left;
  height: 1px;
  margin: 10px 0;
  background-color: #9d9d9d;
  width: 30px;
}

.copy-text {
  color: #9d9d9d;
  font-size: 12px;
  word-spacing: 2px;
  text-align: center;
  width: 100%;
  margin-bottom: 0;
}

.footer-copyright-wrap {
  background: #fff;
}
.footer-copyright-wrap p{
  margin-bottom: 0px;
}
.footer-copyright-wrap .callout {
  background-color: transparent;
}

.scroll_to_top.floating-action.button {
  overflow: hidden;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  padding: .6rem;
  margin: 0;
  background-color: #ffeb3b;
  color: rgba(0, 0, 0, .87);
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  z-index: 10;
}

.scroll_to_top .fa {
  font-size: 36px;
  font-weight: 600;
  line-height: .7;
}

.footer-copyright-wrap .top-bar {
  padding: 0;
  background-color: transparent;
}

.copy-text2 p {
  margin-bottom: 0;
}


/*=============================================>>>>>
= WooCommerce =
===============================================>>>>>*/

.single-product-warp {
  padding: 40px;
  margin-bottom: 30px;
  background-color: #ffff;
}

.single-product-warp .price {
  margin: 10px 0 25px;
}

.woocommerce .shop-warp {
  padding-bottom: 0px;
}

.card.card-cascade.wider {
  background-color: transparent;
  box-shadow: none;
  margin-bottom: 0px;
  padding-bottom: 5px;
}

.card-cascade .view img {
  height: inherit !important;

}

.card.card-cascade .view {
  border-radius: 4px;
    box-shadow: none;
  z-index: 2;
}

.card.card-cascade.wider .card-body {
  margin-left: 4%;
  margin-right: 4%;
  background: #fff;
  z-index: 1;
  border-radius: 0 0 .3rem .3rem;
  ms-flex: 1 1 auto;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem 1.25rem .5rem 1.25rem;
  box-shadow: -1px -1px 10px 0px rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}

.card-body h4 {
  font-weight: 500;
  margin-bottom: 1rem;
}

.card .card-text {
  font-size: .9rem;
  color: #747373;
  padding-top: 15px;
}

.card-footer {
  border-top: 1px solid rgba(0, 0, 0, .125);
  padding: .75rem 0rem 0 0rem;
  display: table;
  position: relative;
  overflow: hidden;
  width: 100%;

}

.card .card-footer .left {
  float: left;
}

.card .card-footer .right {
  float: right;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.card .card-footer .right a:hover{
  background: transparent !important;
}
.card .card-footer .right .btn.add_to_cart_button {
  margin: 0;
  padding: 0;
  background: transparent;
  color: #000000;
  min-width: inherit;
}
.card .card-footer .right .btn.add_to_cart_button:hover{
  box-shadow: none;
}
.related.products ul {
  margin-top: 20px;
}

table.variations {
  box-shadow: none
}

.woocommerce div.product form.cart .button, .woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt, .woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button {
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  padding: 12px 17px 12px;
  background-color: #00bcd4;
  display: inline-block;
  border-radius: 3px;
}

.woocommerce ul.products li.product .button::before, button.single_add_to_cart_button::before {
  content: "\f217";
  display: inline;
  font-family: FontAwesome;
  margin-right: 10px;
}

.woocommerce .quantity .qty {
  border: 3px solid #dddddd;
  height: 38px;
  text-align: center;
  width: 70px;
  margin-right: 15px;
}

.woocommerce ul.products li.product .button, .easy-commerce-woocommerce ul.products li.product .button {
  line-height: 1.5;
  margin: 10px auto 20px;
  padding: .5em .7em;
  position: relative;
  border: 0;
  text-align: center;
  display: inline-block;
  background-color: #00bcd4;
  color: #fff;
}

.woocommerce div.product .product_title {
  clear: none;
  font-size: 28px;
  margin: 0 0 15px;
  padding: 0;
  border-bottom: 1px double #ebe9eb;
}

h1.entry-title::after {
  content: "";
  display: block;
  height: 2px;
  background: #00bcd4;
  width: 50px;
  bottom: -1px;
  margin-top: 15px;
}

.woocommerce ul.products li.product a, .woocommerce ul.products li.product .woocommerce-loop-category__title, .woocommerce ul.products li.product .woocommerce-loop-product__title, .woocommerce ul.products li.product h3, .woocommerce ul.products li.product .price, .woocommerce div.product .woocommerce-tabs ul.tabs li.active a {
  color: #3C4858;
}

.woocommerce ul.products li.product .star-rating {
  font-size: .857em;
  margin-right: auto;
  margin-left: auto;
}

.woocommerce-cart .quantity .qty {
  margin: 0 auto;
}

.woocommerce table tbody tr:nth-child(2n) {
  background-color: #fff
}

.woocommerce-cart table.cart td {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  border-right: 1px solid #eee;
}

.woocommerce table.shop_table th {
  font-weight: normal;
  padding: 6px 12px;
  font-size: 16px;
  text-align: center;
}

.woocommerce .cart_totals h2 {
  margin-bottom: 30px;
  border-bottom: 1px solid #eee;
  font-size: 24px;
  padding-bottom: 15px;
  position: relative;
  text-transform: uppercase;
  text-align: left;
}

.woocommerce .cart_totals h2:after {
  content: "";
  width: 160px;
  border-bottom: 1px solid #00bcd4;
  left: 0;
  bottom: -1px;
  position: absolute;
}

.woocommerce table.shop_table tbody tr td.actions .coupon .input-text {
  height: 40px;
  width: 150px !important;
  margin: 0 20px 5px 0;
  background: none;
}

.woocommerce .button {
  -webkit-transition: -webkit-box-shadow .25s;
  transition: -webkit-box-shadow .25s;
  transition: box-shadow .25s;
  transition: box-shadow .25s, -webkit-box-shadow .25s;
  -webkit-transition: .3s ease-out;
  transition: .3s ease-out;
}

.woocommerce .button:hover {}

.woocommerce div.product form.cart {
  margin: 36px 0px 0px 0px;
}

.woocommerce div.product form.cart .variations, .woocommerce #content div.product form.cart .variations {
  margin: 0;
  width: 100%;
  table-layout: fixed;
}

.woocommerce .variations_form.cart .variations tbody {
  border: none;
}

.woocommerce div.product form.cart .variations td.label, .woocommerce #content div.product form.cart .variations td.label {
  padding: 0px 18px 0px 0px;
  background-color: transparent;
  font-weight: 600;
  min-width: 80px;
  position: relative;
  overflow: hidden;
  margin-top: -20px;
}

.woocommerce div.product form.cart .variations select, .woocommerce #content div.product form.cart .variations select {
  width: 100%;
  margin: 0px 0px 0px 0px;
}

.woocommerce div.product form.cart .variations td, .woocommerce div.product form.cart .variations th {
  width: 100%;
}

.single-product .product_meta {
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid #eaeaea;
  padding-right: 5px;
  padding-left: 10px;
  margin-top: 20px;
}

.single-product .product_meta span {
  display: table;
  table-layout: fixed;
}

.single-product .product_meta span>* {
  padding-left: 5px;
}

.single-product .product_meta span span {
  display: inline-block;
  table-layout: auto;
}

.woocommerce nav.woocommerce-pagination {
  border-radius: 0;
  display: block;
  height: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.woocommerce nav.woocommerce-pagination ul li a, .woocommerce nav.woocommerce-pagination ul li span {
  margin-right: 4px;
  margin-left: 4px;
  padding: .3875rem .825rem;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  text-align: center;
  font-size: 14px;
  line-height: inherit;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.woocommerce nav.woocommerce-pagination ul li, .woocommerce nav.woocommerce-pagination ul {
  border: none;
  padding: inherit;
  margin: auto;
  overflow: inherit;
}

/* woo tab */

.woocommerce div.product .woocommerce-tabs ul.tabs {
  padding: 0;
  border: none;
}

.woocommerce div.product .woocommerce-tabs ul.tabs.wc-tabs {
  overflow: visible;
}

.woocommerce div.product .woocommerce-tabs ul.tabs.wc-tabs li {
  background: none;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li {
  padding: 0 30px 0 0;
  margin: 0;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li:after, .woocommerce div.product .woocommerce-tabs ul.tabs li:before {
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.woocommerce div.product .woocommerce-tabs ul.tabs.wc-tabs li {
  border: none;
}

.woocommerce div.product .woocommerce-tabs ul.tabs.wc-tabs li.active a {
  color: #e91e63;
  border-bottom: 2px solid #e91e63;
}

.woocommerce div.product .woocommerce-tabs ul.tabs.wc-tabs li a {
  border-bottom: 2px solid transparent;
  min-width: 100px;
  padding: 10px 15px;
  border-radius: 0;
  color: #555;
  text-align: center;
  text-transform: uppercase;
}

.woocommerce div.product .woocommerce-tabs ul.tabs.wc-tabs li a:hover {
  border-bottom: 2px solid #e91e63;
}

.woocommerce div.product .woocommerce-tabs ul.tabs:before {
  border: none;
}

.woocommerce div.product .woocommerce-tabs h2:first-child {
  display: none;
}
.woocommerce ul.products li.product a img{margin: 0px;}


/*=============================================>>>>>
= widgets style =
===============================================>>>>>*/

/*----------- fixed sopanel -----------*/
.so-panel.aazeen_widgtes{
margin-bottom:0px !important;
margin-top: 0px !important;
}

.section-description .subheader{
  font-size: 1rem;
}

/*  ----------------------------------------------------
CONTENT BOX(Feature Widgtes 1)
-------------------------------------------------------- */

/* Float Left Icon */
.content-box.content-box-left-icon span,
.content-box.content-box-left-icon i {
    float: left;
    margin: 0 10px 0 0;
    font-size: 40px;
}
.content-box.content-box-left-icon h4,
.content-box.content-box-left-icon h5 {
  float: left;
margin: 0px;
padding: 0px;
line-height: 1.8;
}
.content-box.content-box-left-icon p {
    margin-top: 10px;
    float: left;
}

.content-box-left-icon.content-box-icon span, .content-box-left-icon.content-box-icon i, /* icon with rounded background */
.content-box-left-icon.content-box-icon-o span, .content-box-left-icon.content-box-icon-o i, /* icon with rounded transparent background */
.content-box-left-icon.content-box-icon-circle span, .content-box-left-icon.content-box-icon-circle i, /* icon with circle background */
.content-box-left-icon.content-box-icon-o-circle span, .content-box-left-icon.content-box-icon-o-circle i /* icon with circle transparent background */
{
    margin-bottom: 50px;
    position: absolute;
    top: 5px;
}
.content-box-left-icon.content-box-icon h5,
.content-box-left-icon.content-box-icon-o h5,
.content-box-left-icon.content-box-icon-circle h5,
.content-box-left-icon.content-box-icon-o-circle h5,
.content-box-left-icon.content-box-icon h4,
.content-box-left-icon.content-box-icon-o h4,
.content-box-left-icon.content-box-icon-circle h4,
.content-box-left-icon.content-box-icon-o-circle h4
{
    margin: 0 0 0 90px;
    float: left;
}
.content-box-left-icon.content-box-icon p,
.content-box-left-icon.content-box-icon-o p,
.content-box-left-icon.content-box-icon-circle p,
.content-box-left-icon.content-box-icon-o-circle p
{
    float: left;
    margin: 10px 0 0 90px;
}

/* Float Right Icon */
.content-box.content-box-right-icon {
    text-align: right;
}
.content-box.content-box-right-icon span,
.content-box.content-box-right-icon i {
    float: right;
    margin: 0 15px 0 0;
    font-size: 40px;
}
.content-box.content-box-right-icon h4,
.content-box.content-box-right-icon h5 {
    margin-right: 80px;
}
.content-box.content-box-right-icon p {
    margin-top: 10px;
    margin-right: 20px;
    float: right;
}

.content-box-right-icon.content-box-icon span, .content-box-right-icon.content-box-icon i, /* icon with rounded background */
.content-box-right-icon.content-box-icon-o span, .content-box-right-icon.content-box-icon-o i, /* icon with rounded transparent background */
.content-box-right-icon.content-box-icon-circle span, .content-box-right-icon.content-box-icon-circle i, /* icon with circle background */
.content-box-right-icon.content-box-icon-o-circle span, .content-box-right-icon.content-box-icon-o-circle i /* icon with circle transparent background */
{
    margin-bottom: 50px;
    position: absolute;
    top: 5px;
    right: 0;
}
.content-box-right-icon.content-box-icon h4,
.content-box-right-icon.content-box-icon-o h4,
.content-box-right-icon.content-box-icon-circle h4,
.content-box-right-icon.content-box-icon-o-circle h4,
.content-box-right-icon.content-box-icon h5,
.content-box-right-icon.content-box-icon-o h5,
.content-box-right-icon.content-box-icon-circle h5,
.content-box-right-icon.content-box-icon-o-circle h5 {
    margin: 0 100px 0 0;
    float: right;
}
.content-box-right-icon.content-box-icon p,
.content-box-right-icon.content-box-icon-o p,
.content-box-right-icon.content-box-icon-circle p,
.content-box-right-icon.content-box-icon-o-circle p {
    margin: 10px 100px 0 0;
}

/*  ----------------------------------------------------
service widgtes 1
-------------------------------------------------------- */

.section__features{}
.feature {
    text-align: center;
}

.feature .feature__icon .iconcontent {
  margin-right: auto;
      margin-left: auto;
overflow: hidden;

}
.feature .feature__icon .iconcontent img {
    margin: 0;

}
.feature .feature__title {
        font-size: x-large;
    font-weight: 400;
    margin: 0.925em 0 0.5em;
}
.text--white .feature .feature__title {
    color: #fff;
}

.feature__content {
  margin-bottom: 25px;
margin-top: 0.925em;
}
.feature .feature__content p {
    font-size: 16px;
    color: #393333;
}
.text--white .feature .feature__content {
    color: #393333;
}
.feature .feature__button .bttn {
    margin: 0;
    padding: 0.75em 5%;
    width: 90%;
}

.section__features {
    padding-left: 8%;
    padding-right: 8%;
}


@media only screen and (min-width:47em) {
.feature .feature__button .bttn {
    padding: 0.75em 8%;
    width: 84%;
}
}

/*  ----------------------------------------------------
Team widgtes 1
-------------------------------------------------------- */
#team .media-object{
  background: transparent;
}

#team .media-object-section img {
    border-radius: 6px;
    pointer-events: none;
}
#team .media-object-section .thumbnail {
  position: relative;
  z-index: 1;}

/*  ----------------------------------------------------
Callout (one)
-------------------------------------------------------- */
.aazeen_callout_widget .callout{
  margin-bottom: 0px;
  border: none;
  background: #70e1e9;
  color: #fff;
}

.aazeen_callout_widget .callout .btn {
  font-size: 15px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
}
.aazeen_callout_widget .callout .btn.one{
  right: 10px;
}

.aazeen_callout_widget .callout .btn.two{
  left: 10px;
}
/*=============================================>>>>>
= Social 1 =
===============================================>>>>>*/
.style1-btn{
  font-size: 32px;
  padding: 4px;
  line-height: 1em;
  height: 41px;
    min-width: 41px;
    width: 41px;
    overflow: hidden;
    position: relative;
    text-shadow: 0px 7px 10px rgba(0, 0, 0, 0.2);
transition: all ease-in-out 150ms;
}
.style1-btn:hover{
  margin-top: -10px;
text-shadow: 0px 16px 10px rgba(0, 0, 0, 0.3);
transform: translate(0, -8);
}

.style1-btn.adn{color:#504e54;}
.style1-btn.apple{color:#aeb5c5;}
.style1-btn.android{color:#A5C63B;}
.style1-btn.bitbucket,.style1-btn.bitbucket-square{color:#003366;}
.style1-btn.bitcoin,.style1-btn.btc{color:#F7931A;}
.style1-btn.css3{color:#1572B7;}
.style1-btn.dribbble{color:#F46899;}
.style1-btn.dropbox{color:#018BD3;}
.style1-btn.facebook,.style1-btn.facebook-square{color:#3C599F;}
.style1-btn.flickr{color:#FF0084;}
.style1-btn.foursquare{color:#0086BE;}
.style1-btn.github,.style1-btn.github-alt,.style1-btn.github-square{color:#070709;}
.style1-btn.google-plus,.style1-btn.google-plus-square{color:#CF3D2E;}
.style1-btn.html5{color:#E54D26;}
.style1-btn.instagram{color:#A1755C;}
.style1-btn.linkedin,.style1-btn.linkedin-square{color:#0085AE;}
.style1-btn.linux{color:#FBC002;color:#333;}
.style1-btn.maxcdn{color:#F6AE1C;}
.style1-btn.pagelines{color:#241E20;color:#3984EA;}
.style1-btn.pinterest,.style1-btn.pinterest-square{color:#CC2127;}
.style1-btn.renren{color:#025DAC;}
.style1-btn.skype{color:#01AEF2;}
.style1-btn.stack-exchange{color:#245590;}
.style1-btn.stack-overflow{color:#FF7300;}
.style1-btn.trello{color:#265A7F;}
.style1-btn.tumblr,.style1-btn.tumblr-square{color:#314E6C;}
.style1-btn.twitter,.style1-btn.twitter-square{color:#32CCFE;}
.style1-btn.vimeo-square{color:#229ACC;}
.style1-btn.vk{color:#375474;}
.style1-btn.weibo{color:#D72B2B;}
.style1-btn.windows{color:#12B6F3;}
.style1-btn.xing,.style1-btn.xing-square{color:#00555C;}
.style1-btn.youtube,.style1-btn.youtube-play,.style1-btn.youtube-square{color:#C52F30;}

/*= Social 1 end =*/
/*=============================================<<<<<*/
/*  ----------------------------------------------------
slider nav
-------------------------------------------------------- */

.aazeen-slider-nav {
  position: absolute;
  z-index: 2;
  padding: 0;
  width: 38px;
  height: 38px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-color: rgba(28, 28, 28, .5);
  color: #fff;
  text-align: center;
  font-size: 24px;
  line-height: 38px;
  opacity: .3;
  cursor: pointer;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.aazeen-slider-nav:hover {
  opacity: .8;
  background-color: rgba(28, 28, 28, .9);
}

.aazeen-slider-next {
  top: 50%;
  right: 20px;
  left: auto;
  margin-top: -19px;
}

.aazeen-slider-prev {
  top: 50%;
  left: 20px;
  margin-top: -19px;
}
.object-fit-images {
  object-fit: cover;
  object-position: center;
  font-family: 'object-fit: cover; object-position: center;';
  height: inherit !important;
}
.thumbnail-resize {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 0;
}
/*  ----------------------------------------------------
post carousel widgets
-------------------------------------------------------- */

.post-wrap-carousel {
  display: block;
  position: relative;
}

.post-wrap-carousel .button.hollow.secondary {
  margin: 0px;
  color: #fff;
  border-color: #fff;
}
.carousel-layout4.slick-initialized {
  opacity: 1;
  transition: opacity .3s ease-out;
  display: block;
}
.carousel-layout4 {
  opacity: 0;
  display: none;
}

.slick-dots {
  position: absolute;
  right: 10px;
  bottom: 10px;
  z-index: 2;
  display: block;
  line-height: 1;
  width: auto;
}

.slick-dotted.slick-slider {
  margin-bottom: 0px;
  overflow: hidden;
}

.lates-post-carousel .slick-dots li {
  position: relative;
  display: inline-block;
  padding: 0 3px;
  vertical-align: middle;
  line-height: 10px;
  opacity: .8;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s width: auto;
  height: auto;
  margin: 2px;
  background: transparent !important;
  border-color: transparent !important;
}

.lates-post-carousel .slick-dots li button {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0;
  opacity: 0;
  cursor: pointer
}

.slick-dots li:before {
  position: relative;
  display: block;
  width: 8px;
  height: 8px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: #fff;
  content: '';
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s
}

.slick-dots li.slick-active:before {
  -webkit-transform: scale(1.4);
  -moz-transform: scale(1.4);
  -ms-transform: scale(1.4);
  -o-transform: scale(1.4);
  transform: scale(1.4)
}

.slick-dots li:hover, .slick-dots li.slick-active {
  opacity: 1
}

.carousel-layout4 .post-thumbouter {
  margin-bottom: 0;
  position: relative;
  display: block;
  height: 300px;
}
.card.video .mejs-container,.card.video .mejs-container iframe{
  height: 300px !important;
}
.card.video .mejs-container.mejs-container-fullscreen,.card.video .mejs-container.mejs-container-fullscreen iframe{
  height: 100% !important;
}
.card-divider-none{
  display: none;
}
.card.video .card-divider{
  padding-top: 8px;
    padding-bottom: 8px;
    background: transparent;
    position: absolute;
        top: 10px;
        text-align: center;
}
.mejs-container-keyboard-inactive .card-divider{
  display: none;
}
.card.video .card-divider h3 a{
  color: #ffffff;
}
.carousel-layout4 .post-thumb-carousel {
  z-index: 1;
  display: block;
  width: 100%;
  height: 100%;
}

.card-content-absolute {
  position: absolute;
  top: 30%;
  bottom: 0;
  text-align: center;
  z-index: 1;
  padding: 10px;
  width: 100%;
}

.card-content-absolute .post-title a {
  color: #FFFFFF;
}

.carousel-layout4 .post-thumb-overlay {
  position: absolute;
  top: 10%;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .2) 30%, rgba(0, 0, 0, .75) 100%);
  pointer-events: none;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.card-content-absolute .category.text-info {
  font-size: 16px;
  font-weight: 600;
}


/*=============================================>>>>>
= WooCommerce Widget carousel  =
===============================================>>>>>*/

.lates-post-carousel.Product-carousel .carousel-layout4 .post-thumbouter {
  padding: 5px 5px;
}

.lates-post-carousel.Product-carousel .slick-slide img {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}

.lates-post-carousel.Product-carousel .product-contentouter {
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  right: 0;
  left: 0;
  display: table;
  z-index: 1;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
  background: #fff;
}

.lates-post-carousel.Product-carousel .card-content-absolute {
  position: relative;
  top: auto;
  bottom: auto;
  text-align: center;
  z-index: 1;
  padding: 10px;
  display: table-cell;
  vertical-align: middle;
}

.lates-post-carousel.Product-carousel .card-content-absolute .product-price del {
  color: #5d5d5d;
}

.lates-post-carousel.Product-carousel .card-content-absolute .post-title a {
  color: #5d5d5d;
  font-size: 16px;
}

.lates-post-carousel.Product-carousel .slick-dots {
  display: none !important;
}

.sidebar-inner .lates-post-carousel.Product-carousel .slick-dots {
  display: block !important;
}

.sidebar-inner .lates-post-carousel.Product-carousel .slick-dots {
  top: 0;
  margin-top: 10px;
  bottom: auto;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 100%;
  right: 0;
}

.sidebar-inner .lates-post-carousel.Product-carousel .aazeen-slider-nav {
  display: none !important;
}

.sidebar-inner .lates-post-carousel.Product-carousel .slick-dots li:before {
  background-color: #9c9595;
}

.lates-post-carousel.Product-carousel .carousel-layout4 {
  box-shadow: none;
}

.lates-post-carousel.Product-carousel .carousel-layout4 .post-thumbouter {
  height: auto;
}


/*  ----------------------------------------------------
post layout-2 masonry
-------------------------------------------------------- */
.post-thumb-overlay {
  position: absolute;
  top: 45%;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .2) 30%, rgba(0, 0, 0, .75) 100%);
  pointer-events: none;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
.featured-video{min-height: 300px}
.post-wrap-layout-2 .card-blog {
  margin-top: 30px;
  margin-bottom: 0px;
}
.card.card-blog {
    position: relative;
    width: 100%;
    margin-bottom: 30px;
    border-radius: 6px;
    color: rgba(0, 0, 0, 0.87);
    background: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    border: none;
    overflow: visible;
}
.card.card-blog .card-content {
  overflow: hidden;
  padding: 15px 30px;
}

.post-wrap-layout-2 .card-blog .post-thumb-overlay {
  border-radius: 6px;
}

.post-wrap-layout-2 .card .card-image {
  height: 60%;
  position: relative;
  z-index: 1;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: -30px;
  border-radius: 6px;
}
.card .card-image .wp-video{width: 100% !important;}
.post-wrap-layout-2 .card .card-image img {
  width: 100%;
  border-radius: 6px;
  pointer-events: none;
  box-shadow: 0 5px 15px -8px rgba(0, 0, 0, 0.24), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.post-wrap-layout-2 .thumbnail-resize {
  overflow: inherit;
}

.post-wrap-layout-2 .card .card-image .card-title {
  position: absolute;
  bottom: 15px;
  left: 15px;
  font-size: 1.3em;
  text-shadow: 0 2px 5px rgba(33, 33, 33, 0.5);
  z-index: 1;
}

.post-wrap-layout-2 .card .card-image .card-title a {
  color: #fff;
}

.post-wrap-layout-2 .card .card-title.no-thumb a {
  color: #616161;
}

.post-wrap-layout-2 .card-description {
  font-size: inherit;
}


.card .card-footer .author {
  font-size: 14px;
    display: table-cell;
    vertical-align: middle;
}

.card .card-footer .author a {
  color: #616161;
}

.post-wrap-layout-2 .author .avatar {
  width: 30px;
  height: 30px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 5px;
}

.post-wrap-layout-2 .card-footer .stats {
  line-height: 30px;
    color: #616161;
    font-size: 14px;
    display: table-cell;
    vertical-align: middle;
    text-align: right;
}

.post-wrap-layout-2 .card-footer .stats a {
  color: #616161;
}

.post-wrap-layout-2 .card-footer .stats .fa {
  position: relative;
  font-size: 16px;
}

.post-wrap-layout-2 .card .category.text-info a {
  margin-bottom: 0px;
  margin-top: 5px;
  margin-right: 4px;
  padding: 4px 4px;
  background: transparent;
  box-shadow: none;
}

.top-footer-wrap .lates-post-cardmission .cell {
  width: 100%;
  padding-top: 0px;
  padding-bottom: 0;
}

.top-footer-wrap .lates-post-cardmission .card-content {
  padding-right: 10px;
  padding-left: 10px;
}

.top-footer-wrap .lates-post-cardmission .post-title {
  font-size: 18px;
}


/*  ----------------------------------------------------
custom slider style 1
-------------------------------------------------------- */

/* ==== Main CSS === */
.img-fill{
  width: 100%;
  display: block;
  overflow: hidden;
  position: relative;
  text-align: center
}

.img-fill img {
  height: 100%;
  width: 100%;
  position: relative;
  display: inline-block;
  max-width: none;
  object-fit: cover;
object-position: center center;
}



.blocks-box,
.slick-slider {
  margin: 0;
  padding: 0!important;
}

.slick-slide {
  float: left /* If RTL Make This Right */ ;
  padding: 0;
}

.sliderone{margin-right: 10px;}
.slidertwo{margin-left: 10px;}
/* ==== Slider Style === */

.modern-Slider {
    position: relative;
    overflow: hidden;
    background-color: transparent;
    opacity: 0;
}
.modern-Slider.slick-initialized {
    opacity: 1;
    transition: opacity .3s ease-out;
    display: block;
}

.modern-Slider .item .img-fill{
  height:100vh;
  background:#000;
}

.modern-Slider .item .img-fill .info{

    position: absolute;
    max-width: 75rem;
    height: 100%;
    top: 0px;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}


.modern-Slider .item .info > div{
  display:inline-block!important;
  vertical-align:middle;
  background:rgba(0,0,0,.50);
  padding: 40px;
}



.modern-Slider .slick-dots li.slick-active{
  width:100%;
  animation:ProgressDots 11s both;
}

.modern-Slider .item h3{
  text-transform:uppercase;
  color:#FFF;
  animation:fadeOutRight 1s both;
  margin-bottom: 20px;
  padding:0;
}

.modern-Slider .item h5{
  margin:0 0 30px;
  padding:0;
  color:#FFF;
  overflow:hidden;
  animation:fadeOutLeft 1s both;
}
.modern-Slider .slick-dots{
  position:absolute;
  height:5px;
  background:rgba(255,255,255,.20);
  bottom:0px;
  width:100%;
  left:0px;
  padding:0px;
  margin:0px;
  list-style-type:none;
}
.modern-Slider .slick-dots li button{display:none;}
.modern-Slider .slick-dots li{
  float:left;
  width:0px;
  height:5px;
  background:#d62828;
  position:absolute;
  left:0px;
  bottom:0px;
  margin: 0px;
}
.modern-Slider .slick-dots li::before{
  display: none;
}
.modern-Slider .slick-dots li.slick-active{
  width:100%;
  animation:ProgressDots 11s both;
}

.modern-Slider .item.slick-active .info div{
  animation:fadeInDown 1s both 1s;
}
.modern-Slider .item.slick-active h3{
  animation:fadeInDown 1s both 1s;
}
.modern-Slider .item.slick-active h5{
  animation:fadeInLeft 1s both 1.5s;
}

.modern-Slider .item.slick-active{
  animation:Slick-FastSwipeIn 1s both;
}

/* ==== Slider Image Transition === */
@keyframes Slick-FastSwipeIn{
    0%{transform:rotate3d(0,1,0,150deg) scale(0)  perspective(400px);}
    100%{transform:rotate3d(0,1,0,0deg) scale(1) perspective(400px);}
}

@-webkit-keyframes ProgressDots{from{width:0px;}to{width:100%;}}
@keyframes ProgressDots{from{width:0px;}to{width:100%;}}

#slider-1 .slick-dots li::before{
  display: none;
}


/*----------- Slider 2 -----------*/
.slider-post-wrap.slick-initialized {
    opacity: 1;
    transition: opacity .3s ease-out;
    display: block;
}

.slider-post-wrap {
    position: relative;
    overflow: hidden;
    background-color: transparent;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
    opacity: 0;
}

.post-wrap-slider {
    display: block;
    position: relative;
    overflow: hidden;
}

.slider-post-wrap .post-thumbouter-slider {
    height: 500px;
}

.slider-post-wrap .post-thumbouter-slider {
    position: relative;
    display: block;
}
.slider2 .post-header-outer .post-header  {
    font-family: "Playfair Display", Georgia, serif;
    font-weight: 700;
    line-height: 1.5;
    text-transform: none;
    color: #fff;

}
.post-thumb-overlay {
    position: absolute;
    top: 45%;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .2) 30%, rgba(0, 0, 0, .75) 100%);
    pointer-events: none;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.slider-post-wrap .post-thumb-slider {
    z-index: 1;
    display: block;
    width: 100%;
    height: 100%;
}

.slider-post-wrap .thumbnail-resize-slider {
    position: relative;
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 0;
}

.slider2.slider-post-wrap .slick-slide .thumbnail-image-slider {
    opacity: 0.5;
    transition: all 300ms ease 0s;
}
.slider2 .post-header {
    background: rgba(0,0,0,0.31);
}
.slider-post-wrap .thumbnail-image-slider {
    height: 500px;
}
.slider-post-wrap .thumbnail-resize-slider img {
    margin: 0 auto;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    height: 100%;
    object-position: center center;
}

.slider2.slider-post-wrap .is-header-overlay {
    padding-right: 80px;
    padding-left: 80px;
}

.slider2.slider-post-wrap .is-header-overlay {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  position: absolute;
  text-align: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.post-header {
  padding: 20px;
}

.slider2.slider-post-wrap .slick-slide .thumbnail-image-slider {
  opacity: 0.5;
  transition: all 300ms ease 0s;
}

.slider2.slider-post-wrap .slick-center .thumbnail-image-slider {
  opacity: 1;
}

.slider2.slider-post-wrap .slick-slide .post-header {
  opacity: 0;
  transition: all 300ms ease 0s;
}

.slider2.slider-post-wrap .slick-center .post-header, .slider2.slider-post-wrap .slick-active .post-header {
  opacity: 1;
}

/*  --------------------------------------------------------
14. CONTACT US
-------------------------------------------------------- */
.contact-aazeen{position: relative;overflow:hidden;
  }
.contact.contact-us-one {
    display: block;
    padding: 20px 40px 40px 40px;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
}

.contact-2{position: relative;}
.contact-aazeen h1{font-size: 35px;}

.contact-aazeen h5{font-size: 16px;}

.contact-aazeen .contact-text i,.fa-map-o{font-size: 60px;margin-bottom: 20px;}
.contact-aazeen .contact.contact-us-one h4 small{font-size: 16px;}




/*----------- meterial -----------*/

.card-contact {
    margin-top: 30px;
}

.card.card-contact {
    border: 0;
    margin-bottom: 30px;
    margin-top: 30px;
    border-radius: 6px;
    color: rgba(0, 0, 0, .87);
    width: 100%;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
    overflow: visible;
}

.card form {
    margin: 0;
}

.card-contact .card-header {
    margin: 0 15px;
    margin-top: -20px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, .2), 0 13px 24px -11px rgba(156, 39, 176, .6);
    border-radius: 3px;
    padding: 1rem 15px;
    border: 0;

    }
    .card-contact .card .card-body,.card-contact .card .card-footer {
        padding: 2rem 1.875rem;
    }
  .card-contact  .card-body {
        flex: 1 1 auto;
        padding: 1.25rem;
    }
    .card.card-contact .card-footer {
        display: flex;
        align-items: center;
        background-color: transparent;
        border: 0;
    }
    .card.card-contact .wpcf7-submit {
        color: #fff;
        background-color: #9c27b0;
        border-color: #9c27b0;
        box-shadow: 0 2px 2px 0 rgba(156, 39, 176, .14), 0 3px 1px -2px rgba(156, 39, 176, .2), 0 1px 5px 0 rgba(156, 39, 176, .12);
        position: relative;
        padding: 12px 30px;
        margin: .9rem 1px .3125rem 1px;
        font-size: .75rem;
        font-weight: 400;
        line-height: 1.428571;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 0;
        cursor: pointer;
        border: 0;
        border-radius: .2rem;
        transition: box-shadow .2s cubic-bezier(.4, 0, 1, 1), background-color .2s cubic-bezier(.4, 0, .2, 1);
        display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    float: right;
    }

/*=============================================>>>>>
= Mobile adjustment =
===============================================>>>>>*/

/* Small only */
@media screen and (max-width: 39.9375em) {
  .content-wrapper .single-main.card {
      margin-top: 0px;
  }
  .post-no-image {
    min-height: 300px;
}
.post-thumb-single{
  min-height: inherit;
}
}

#team .colored-shadow {
    transform: scale(.94);
    top: 12px;
    filter: blur(12px);
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: -1;
    opacity:1;
}
